In [ ]:
import pandas as pd 
data={
    'Name':['Pavan','Pravnav','Swapnil','Ishan','Arjun','Om'],
    'Age':[25,None,22,23,None,26],
    'Salary':[5000,6000,7000,8000,9000,5500]    
}
df= pd.DataFrame(data)
print("Original Data")
print(df)
#to find the null values in a dataset
print(df.isnull().sum())

#droping or removing those values which have null value 
df_drop = df.dropna()
print(df_drop)

Original Data
      Name   Age  Salary
0    Pavan  25.0    5000
1  Pravnav   NaN    6000
2  Swapnil  22.0    7000
3    Ishan  23.0    8000
4    Arjun   NaN    9000
5       Om  26.0    5500
Name      0
Age       2
Salary    0
dtype: int64
      Name   Age  Salary
0    Pavan  25.0    5000
2  Swapnil  22.0    7000
3    Ishan  23.0    8000
5       Om  26.0    5500