In [ ]:

# ! one hot encoding 
# jo bhi category hai usko multiple columns mein convert kar dega and each will be representing one possible value.
 
# supoose ek data hai usmein city hai abb city mein Delhi, Mumbai, Chennai, Pune hai 
# so abb iske column aise baan jayega 
# City Delhi 
# City Mumbai 
# City Chennai
# City Pune 

# so abb agr koi Delhi se hai to uska baan jayega [1,0,0,0]
# ! ye vaha apply hoti hai jaha ek column mein multiple different values hoti hai 
# and category mein sirf kuch specific category hoti hai jaise gender mein male and female